
.flex{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.justify{
    justify-content: space-around;
}


.flex-container img{
    width: 400px;
    height: 300px;
    padding: 10px;
}

.flex-container:hover{
    background-color: black;
}

h1, h2{
    text-align: center;
}

#menu:hover{
    background-color: grey;
}

iframe{
    margin-top: 5px;
    padding: 15px;
    border-width: 10px;
    background-color: black;
}

#menu{
    background-color: grey;
}

#menu li{
    display: inline;
    padding: 15px;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: blue;
}

img{
    border-radius: 80%;
}

.ml-50{
    margin-left: 50px;
}

.p-50{
    padding: 50px;
}